*,
*:before,
*:after {
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.transparent {
  opacity: 0;
}
body {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 100vh;
}

#wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#nav {
  background-color: black;
  color: black;
  text-align: center;
  padding: 0 0 0.1rem 0;
  width: 100%;
  font-size: 2rem;
}
#nav p {
  margin: 0;
}

#first-row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  height: 5rem;
  margin: 0 auto;
}

#score-box,
#timer-box {
  width: 20%;
  text-align: center;
}
#score-box p,
#timer-box p {
  margin: 0;
}

#score,
#timer {
  font-size: 2rem;
  margin: 0;
}

#status-box {
  width: 60%;
  text-align: center;
}

#second-row {
  text-align: center;
  padding: 0.5rem;
}

#target-box {
  background-color: grey;
  color: white;
  font-size: 2rem;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 1rem;
}
#target-word {
  margin: 0;
}

#user-input {
  font-size: 2rem;
  border: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  height: 3.5rem;
  outline: none;
  font-family: inherit;
  margin: 0 auto;
  border-radius: 1rem;
  border-bottom: 3px solid grey;
  text-transform: uppercase;
}

#user-input:focus {
  border-bottom: 3px solid black;
}

#guesses-row {
  display: flex;
  overflow-x: hidden;
  background-color: lightgrey;
  color: grey;
  height: 3.5rem;
  position: relative;
  margin: 0.5rem auto;
  padding-left: 1rem;
  text-align: center;
}
#guesses-row:after {
  content: "";
  position: absolute;
  z-index: 2;
  pointer-events: none;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    lightgrey 100%
  );
  width: 5em;
  height: 3.5em;
  right: 0;
}

#guesses-row span {
  z-index: 1;
  padding: 0.5rem;
  font-size: 1.12rem;
  margin: 0.5rem 0.25rem;
}
.screen-spanning {
  width: 80vw;
}
#final-words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}
#final-words li {
  text-align: left;
}
#initial-state {
  padding-top: 15%;
  position: relative;
  margin: auto;
  height: 75vh; /* Adjust according to your needs */
  font-size: larger;
}
#start-button {
  margin: 16pt;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 550px;
  text-align: left;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  width: 40pt;
  height: 40pt;
  line-height: 40pt;
  text-align: center;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content ul {
  padding-left: 1.5rem;
}

.modal-content div.examples {
  font-size: small;
}

#modal-bottom-done {
  margin-left: calc(50% - 5rem);
  margin-bottom: 16px;
  margin-top: 16px;
}
#start-button,
#restart-button,
#modal-bottom-done,
#how-to-play {
  width: 10rem;
  height: 2.5rem;
  font-size: 1rem;
}

#countdown {
  padding-top: 8%;
  font-size: larger;
}

#final-words {
  margin-bottom: 80px;
}

@keyframes blink_input_opacity_to_prevent_scrolling_when_focus {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#user-input:focus {
  animation: blink_input_opacity_to_prevent_scrolling_when_focus 0.01s;
}

.fade-out {
  animation: fadeOut ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (min-width: 500px) {
  .screen-spanning {
    max-width: 700px;
  }

  .modal-content {
    max-width: 650px;
    padding: 40px;
    font-size: large;
  }
  .modal-content div.examples {
    font-size: large;
  }
}

@media only screen and (min-width: 1000px) {
  #final-words {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    max-width: 1200px;
    font-size: large;
    border: solid 1px grey;
    border-radius: 1rem;
  }

  .final-category {
    margin: 10px;
    padding: 10px;
  }
}
