/* temporary unsets */

/* global styles */
:root {
  --mont-stack: "Montserrat", -apple-system, BlinkMacSystemFont, "Avenir Next",
    Avenir, "Segoe UI", "Helvetica Neue", Helvetica, Cantarell, Ubuntu, Roboto,
    Noto, Arial, sans-serif;
  --courier-stack: "Courier Prime", Courier, Menlo, Consolas, Monaco,
    "Liberation Mono", "Lucida Console", monospace;
  --rhyme-rush-red: #ff2e47;
  --off-white: #f9f9fb;
  --off-black: #1d1b1b;
  --panel-grey: #d9d9d9;
  --found-rhymes-grey: #f2f2f2;
  --doc-height: 100%;
  --checker-board-size: 20px;
  --circle-wipe-duration: 0.4s;
  --label-text-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--mont-stack);
  background-color: var(--off-white);
}
.nav {
  z-index: 10;
  height: 48px;
  opacity: 0;
  background-color: var(--off-black);
  color: var(--rhyme-rush-red);
  font-size: 24px;
  font-style: italic;
  font-weight: 900;
  line-height: 52px;
  letter-spacing: 0.24px;
  transition: opacity var(--circle-wipe-duration) ease-in-out, color 0.5s ease;
}

/* util classes */
.relative {
  position: relative;
}
.bottom {
  position: absolute;
  bottom: 0;
}
.reset {
  all: unset;
}
.red {
  color: var(--rhyme-rush-red);
}
.courier {
  font-family: var(--courier-stack);
}
.hidden {
  display: none;
}
.transparent {
  opacity: 0;
}
.checker-stripe {
  height: var(--checker-board-size);
  background-image: linear-gradient(
      45deg,
      #000 25%,
      transparent 25%,
      transparent 75%,
      #000 75%,
      #000
    ),
    linear-gradient(
      45deg,
      #000 25%,
      transparent 25%,
      transparent 75%,
      #000 75%,
      #000
    );
  background-size: var(--checker-board-size) var(--checker-board-size);
  background-position: 0 0,
    calc(var(--checker-board-size) / 2) calc(var(--checker-board-size) / 2);
}
/* init screen mobile styles */
.init {
  margin: auto;
  height: var(--doc-height);
  max-height: 900px;
  min-height: 600px;
  width: 100vw;
  max-width: 666px;
}
.title-card {
  margin-top: 80px;
  min-height: 300px;
  height: 50%;
  width: 100%;
}

.title-card .checker-stripe {
  margin-left: 40px;
  margin-right: 40px;
  width: calc(100% - 80px);
}
.line-1 {
  margin-top: 50px;
  color: var(--off-black);
  text-align: center;
  font-size: 24px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.hero-text {
  color: var(--rhyme-rush-red);
  text-align: center;
  font-size: 42px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.start-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  height: calc(100% - 190px);
}

.start-button {
  width: 214px;
  height: 48px;
  border-radius: 30px;
  border: 3px solid var(--rhyme-rush-red);
  background: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 122.9%; /* 19.664px */
  letter-spacing: 1.92px;
}

.info-container {
  width: 100%;
}

.info-container .courier {
  text-align: center;
  font-size: 16px;
  line-height: 132%;
  padding: 40px;
}

.info-container .how-to {
  height: 72px;
  color: var(--off-black);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 122.9%; /* 17.206px */
  letter-spacing: 1.68px;
}

/* mobile styles for Get Ready screen */
#countdown {
  padding-top: unset;
}

.get-ready {
  background-color: var(--rhyme-rush-red);
  min-height: 50vh;
  color: var(--off-black);
  text-align: center;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.counter.transparent {
  transition: opacity 0s;
}
.counter {
  margin-top: 45px;
  line-height: 246px;
}

.counter.step-0 {
  font-size: 42px;
  letter-spacing: 0.42px;
  line-height: 225px;
  margin-left: -0.075em;
}
.counter.counter-number {
  font-size: 200px;
}

/* mobile styles for Game screen */

.game {
  background-color: var(--off-white);
  min-height: 80vh;
  color: var(--off-black);
}
.game .checker-stripe {
  height: 36px;
  background-size: 36px 36px;
  background-position: 0 0, 18px 18px;
}
.game .inner-wrapper {
  padding: 0 20px;
}
.game .boards {
  font-family: var(--courier-stack);
  font-size: var(--label-text-size);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.game .board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: 8px;
}
.game .panels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}
.game .panel {
  background-color: var(--panel-grey);
  text-align: center;
  width: calc(var(--label-text-size) * 1.33);
  height: calc(var(--label-text-size) * 1.33);
  font-size: calc(var(--label-text-size) * 1.33);
}
.game .target-word-container {
  margin-top: 24px;
}
.game .target-word-label {
  text-align: left;
  font-family: var(--courier-stack);
  font-size: var(--label-text-size);
}
.game .target-word {
  margin-top: 6px;
  height: 48px;
  background-color: var(--off-black);
  color: var(--panel-grey);
  text-align: center;
  font-size: 21px;
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
}
.game .user-input-form #user-input {
  background-color: var(--off-white);
  border-radius: 0;
  border-width: 0 0 1px 0;
  text-align: center;
  font-size: 21px;
  font-style: italic;
  font-weight: 600;
  line-height: 132%; /* 27.72px */
  width: 100%;
}

/* styles for animations and transitions */
.transition-circle {
  z-index: 1000;
  position: fixed;
  transition: all var(--circle-wipe-duration) ease-in-out;
  border-radius: 50%;
  opacity: 0;
}
.init .transition-circle {
  background-color: var(--rhyme-rush-red);
  box-shadow: 0 0 25px 25px var(--rhyme-rush-red);
}
.get-ready .transition-circle {
  background-color: var(--off-white);
  box-shadow: 0 0 25px 25px var(--off-white);
  transition: all var(--circle-wipe-duration) ease-in-out;
  z-index: 2;
}
.fade-in-scale {
  animation: fadeInScale 0.2s ease-in-out forwards;
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* media query for desktop */
@media (min-width: 1200px) {
  :root {
    --checker-board-size: 24px;
  }
  /* Desktop init screen styles */
  .init {
    margin: auto;
    max-width: 1440px;
    max-height: 1100px;
    min-height: 1000px;
  }
  .title-card {
    margin-top: 110px;
    min-height: 500px;
    height: 62%;
    max-height: 630px;
  }

  .title-card .checker-stripe {
    margin-left: 110px;
    margin-right: 110px;
    width: calc(100% - 220px);
  }
  .line-1 {
    margin-top: 96px;
    font-size: 48px;
    letter-spacing: 0.48px;
  }
  .hero-text {
    margin-top: 40px;
    font-size: 100px;
    line-height: 72.4%;
    letter-spacing: 1px;
  }

  .start-button-container {
    height: calc(100% - 320px);
  }

  #start-button.red-outline-button {
    width: 347.75px;
    height: 78px;
    border-radius: 48.75px;
    font-size: 26px;
    border: 4px solid var(--rhyme-rush-red);
    letter-spacing: 3.12px;
  }

  .info-container .courier {
    padding: 0 25%;
    font-size: 28px;
  }

  .info-container .how-to {
    margin: 40px;
    height: 72px;
  }
  .info-container .how-to #how-to-play {
    font-size: 24px;
    letter-spacing: 2.88px;
  }
}
